# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace

# Entorno de Poetry
.poetry/

# Docker
docker-compose.override.yml

# Archivos temporales
*.swp
*.tmp
*.bak
*.swo

# Archivos de migraciones compilados
*/migrations/

# Archivos de construccion
*.pid
dist/
build/

# Archivos específicos de Git
.git/
