{% extends 'base.html' %}

{% block title %}Inici{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Benvingut a Recepeat</h1>
    <p>Introdueix els ingredients que tens a casa i descobreix receptes que pots fer ara mateix!</p>

    <!-- Barra de búsqueda -->
    <div class="search-bar">
        <form action="{% url 'buscar_receptes' %}" method="get">
            <label>
                <input type="text" name="q" placeholder="Cerca recepta..." required>
            </label>
            <button type="submit">🔍</button>
        </form>
    </div>

</div>
{% endblock %}
