{% extends 'base.html' %}

{% block title %}Resultats de la cerca{% endblock %}

{% block content %}
<h2>Resultats de la cerca</h2>

{% if receptes %}
    <ul>
        {% for recepta in receptes %}
            <li>
                <h3>{{ recepta.title }}</h3>
                <img src="{{ recepta.image }}" alt="{{ recepta.title }}">
                <a href="{% url 'recipe_detail' recepta.id %}">Veure detall</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No s'han trobat receptes.</p>
{% endif %}
{% endblock %}
