{% extends 'base.html' %}

{% block title %}Cerca de Receptes{% endblock %}

{% block content %}
<div class="home-container">
    <h1>Resultats de la cerca per "{{ query }}"</h1>

    {% if page_obj %}
        <div class="recipes-list">
            {% for receta in page_obj %}
                <div class="recipe-item">
                    <h2>{{ receta.title }}</h2>
                    <img src="https://spoonacular.com/recipeImages/{{ receta.id }}-480x360.jpg" alt="{{ receta.title }}">
                    <a href="{% url 'recipe_detail' receta.id %}">Veure més</a>
                </div>
            {% endfor %}
        </div>

        <!-- Paginación -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?q={{ query }}&page=1">&laquo; primera</a>
                    <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="current">
                    Pàgina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">següent</a>
                    <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No s'han trobat receptes per "{{ query }}". Prova una altra cerca.</p>
    {% endif %}
</div>
{% endblock %}
