{% extends 'base.html' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
    <div class="recipe-detail-container">
        <h1>{{ recipe.name }}</h1>

        {% if recipe.imatge %}
            <img src="{{ recipe.imatge.url }}" alt="Imatge de {{ recipe.name }}" class="recipe-image">
        {% endif %}

        <h2>Descripció</h2>
        <p>{{ recipe.description|safe }}</p>

        <h2>Ingredients</h2>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>{{ ingredient.ingredient_name }}
                    - {{ ingredient.ingredient_amount }} {{ ingredient.unit_mesurement }}</li>
            {% empty %}
                <li>No hi ha ingredients disponibles.</li>
            {% endfor %}
        </ul>

        {% if recipe.user == request.user %}
            <a href="{% url 'editar_recepta' recipe.pk %}" class="btn btn-primary">Editar recepta</a>
        {% endif %}

        <h2>Instruccions</h2>
        <p>{{ recipe.instructions|safe }}</p>

        {% if user.is_authenticated %}
            <form action="{% url 'store_recipe' recipe.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button">Guardar recepta</button>
            </form>
        {% else %}
            <p><a href="{% url 'login' %}">Inicia sessió</a> per guardar receptes!</p>
        {% endif %}

        <div class="back-to-home">
            <a href="{% url 'home' %}" class="button">Tornar a l'inici</a>
        </div>
    </div>
{% endblock %}
